@import '/src/styles/mixin';

.editor-main {
	border-radius: 8px;
	background: var(--color-secondary);

	.codex-editor {
		padding: 20px;
	}

	.ce-block {
		max-width: 90%;
		margin: 0 auto;

		.ce-block__content {
			max-width: 100%;
		}
	}

	.ce-toolbar {
		.ce-toolbar__content {
			max-width: 90%;
		}
	}

	.codex-editor {
		max-width: 100%;
	}
}
