@import '../../../styles/mixin';

.category-board-container {
	margin-top: 40px;
	padding-top: 20px;
	border-top: 1px solid var(--color-gray);
}

.category-board-hero {
	font-size: var(--font-size-l);
}

.category-board-card-container {
	width: 100%;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 22% 22% 22% 22%;
	column-gap: 4%;
	row-gap: 20px;
}
