@import '/src/styles/mixin';

.category-new-content {
	margin-top: 12px;
	padding-top: 20px;
	border-top: 1px solid var(--color-gray);
}

.category-new-hero {
}

.category-new-name {
}

.category-new-description {
}

.category-new-image-container {
}

.category-new-image-label {
}

.category-new-image-input {
}

.category-new-button-container {
}

.category-new-button {
}
