:root {
	/* color */
	--color-primary: #1d1d1f;
	--color-secondary: #ffffff;
	--color-gray-lighten: #cdcdcd;
	--color-gray: #babebf;
	--color-gray-darken: #626367;
	--color-error: #ca3422;
	--color-success: #3073b7;
	--color-main: #76c1b2;

	/* font size */
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-xl: 24x;

	/* font bold */
	--font-weight-normal: 400;
	--font-weight-bold: 700;
}
