@import './mixin';

.home-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.home-cta-container {
	width: 400px;
}

.home-auth-container {
	width: 400px;
	margin-left: 80px;
}

.home-copyright {
	margin-top: 20px;
	color: var(--color-gray-darken);
	font-size: var(--font-size-xs);
	text-align: right;
}
