@import '/src/styles/mixin';

.user-container {
	display: flex;
	justify-content: space-between;
}

.user-data-nav {
	width: 168px;
	margin-right: 40px;
	border: 1px solid var(--color-gray);
	border-radius: 8px;
}

.user-settigns-nav {
	@extend .user-data-nav;

	margin-top: 40px;
}

.user-nav-title {
	display: block;
	padding: 8px 10px;
	font-weight: var(--font-weight-bold);
}

.user-tab-type {
	position: relative;
	display: block;
	padding: 8px 10px;
	border-top: 1px solid var(--color-gray);
	color: var(--color-primary);
	font-size: var(--font-size-s);
	text-decoration: none;
	cursor: pointer;

	&:hover {
		background: var(--color-gray-lighten);
		transition: 0.3s;
	}

	&:last-of-type {
		border-radius: 0 0 8px 8px;

		&:before {
			height: calc(100% - 1px);
			border-bottom-left-radius: 8px;
		}
	}
}

.user-selected-tab-type {
	@extend .user-tab-type;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 2px;
		background: var(--color-main);
	}
}

.user-content {
	width: calc(100% - 208px);
}
