@import '/src/styles/mixin';

.password-change-container {
	width: 100%;
}

.password-change-little-hero {
	font-size: var(--font-size-xl);
}

.password-change-error-list {
	width: 400px;
	margin-top: 20px;
	padding: 20px 20px 20px 40px;
	border-radius: 8px;
	background: #f9aea5;
}

.password-change-error {
	margin-top: 8px;
	font-size: var(--font-size-s);
}

.password-change-form-container {
	display: flex;
	align-items: flex-end;
}

.password-change-form {
	width: 320px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;

	input {
		margin-top: 4px;
	}
}

.password-change-button {
	height: fit-content;
	margin-left: 20px;
}
