@import '/src/styles/mixin';

.toast-container {
	position: absolute;
	top: 60px;
	right: 50%;
	transform: translateX(400px);
	z-index: 100;
}

.toast-root {
	width: 240px;
	padding: 8px 12px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;

	&:not(:first-of-type) {
		margin-top: 8px;
	}
}

.toast-success {
	background: var(--color-success);
}

.toast-error {
	background: var(--color-error);
}

.toast-close {
	display: inline-flex;
	border: none;
	background: transparent;

	svg {
		margin-right: 12px;
	}
}

.toast-message {
	color: var(--color-secondary);
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-bold);
}
