@import '/src/styles/mixin';

.header {
	width: 100%;
}

.header-wide {
	max-width: 960px;
	padding: 0 40px;
	margin: 0 auto;
}

.header-inner {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-logo-link {
	height: inherit;
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}
