@import '/src/styles/mixin';

.forgot-section-input {
	display: flex;
	flex-direction: column;

	input {
		margin-top: 4px;
	}

	&:not(&:first-of-type) {
		margin-top: 20px;
	}
}

.forgot-section-button-container {
	margin-top: 40px;
}

.forgot-section-form-button {
	width: 100%;
}
